<!DOCTYPE html>
<html>

    <head>
        <link rel="stylesheet" href=".https://github.com/Programming-with-Jay/SocialGeeks/blob/0c3735b33b56550d64ab1238ed3e25be9a754229/base/static/style.css" type="text/css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="viewport" content="width=device-width"/>
        <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    </head>

    <body>
        <p class="heading">Social-geeks</p>

        <div class="login">
            <form action="/" method="post">
                <input type="email" placeholder="email" class="email"><br>
                <input type="password" placeholder="password" class="password"><br>
                <input type="button" value="Login" class="login-button">

            </form>
        </div>
    </body>

</html>
