<!DOCTYPE html>
<html>

    <head>
        <link rel="stylesheet" href="/base/static/main.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="viewport" content="width=device-width"/>
        <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    </head>

    <body>
      <nav class=navbar>
        <ul>
            <li><a href="#" class="settings">
              <img src="message-square-dots-solid-24.png">
            </a></li>
            <li><a href="#" class="direct-messages">
              <img src="setting (1).png">
            </a></li>
            <li><a>

              <input type="text" class="search"  value="" onblur="if(this.value == '') { this.placeholder = 'Search about the account '; }"  placeholder="Search about the account ">
            </a></li>

              <p class="greeting">Social-geeks</p>

          </ul>

      </nav>
      <!-------Starting the recommendations section-->
      <div class="recommendations">

      </div>

    </body>

</html>
